version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2204:2024.05.1

    working_directory: ~/cassandra-ldap

    environment:
      MAVEN_OPTS: -Xmx3200m
      JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64

    steps:

      - checkout

      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}

      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}

      - run: sudo apt-get update && sudo apt install openjdk-11-jdk
      - run: mvn --version && whereis java && mvn clean install -Dversion.cassandra4=4.0.7 -Dversion.cassandra41=4.1.0 -Dversion.cassandra50=5.0.0

      - persist_to_workspace:
          root: ~/cassandra-ldap
          paths:
            - "cassandra-4.0/target/cassandra-ldap-4.0*.jar"
            - "cassandra-4.1/target/cassandra-ldap-4.1*.jar"
            - "cassandra-5.0/target/cassandra-ldap-5.0*.jar"

  build-4-0:
    machine:
      image: ubuntu-2204:2024.05.1

    working_directory: ~/cassandra-ldap

    environment:
      MAVEN_OPTS: -Xmx3200m
      JAVA_HOME: /usr/lib/jvm/java-8-openjdk-amd64

    steps:

      - checkout

      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-

      - run: sudo apt-get update && sudo apt install openjdk-11-jdk
      - run: mvn clean install -DoutputDirectory=/tmp/artifacts

      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}

      - persist_to_workspace:
          root: /tmp/artifacts
          paths:
            - "cassandra-ldap-4.0*.jar"
            - "cassandra-ldap-4.0*.deb"
            - "cassandra-ldap-4.0*.rpm"

  build-4-1:
    machine:
      image: ubuntu-2204:2024.05.1

    working_directory: ~/cassandra-ldap

    environment:
      MAVEN_OPTS: -Xmx3200m
      JAVA_HOME: /usr/lib/jvm/java-8-openjdk-amd64

    steps:

      - checkout

      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-

      - run: sudo apt-get update && sudo apt install openjdk-11-jdk
      - run: mvn clean install -DoutputDirectory=/tmp/artifacts

      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}

      - persist_to_workspace:
          root: /tmp/artifacts
          paths:
            - "cassandra-ldap-4.1*.jar"
            - "cassandra-ldap-4.1*.deb"
            - "cassandra-ldap-4.1*.rpm"

  build-5-0:
    machine:
      image: ubuntu-2204:2024.05.1

    working_directory: ~/cassandra-ldap

    environment:
      MAVEN_OPTS: -Xmx3200m
      JAVA_HOME: /usr/lib/jvm/java-8-openjdk-amd64

    steps:

      - checkout

      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-

      - run: sudo apt-get update && sudo apt install openjdk-11-jdk
      - run: mvn clean install -DoutputDirectory=/tmp/artifacts

      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}

      - persist_to_workspace:
          root: /tmp/artifacts
          paths:
            - "cassandra-ldap-5.0*.jar"
            - "cassandra-ldap-5.0*.deb"
            - "cassandra-ldap-5.0*.rpm"

workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/
      - build-4-0:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v4.0.\d+-\d+\.\d+\.\d+$/
      - build-4-1:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v4.1.\d+-\d+\.\d+\.\d+$/
      - build-5-0:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v5.0.\d+-\d+\.\d+\.\d+$/